<div class="text-center">
    <h1 class="text-info pt-4">Parabéns! Você está um passo mais perto do seu pedido.</h1>
    <p class="pb-3">Recebemos seu pedido e seu pagamento será processado em breve!</p>
    <img src="~/Imagens/order.png" style="width: 80%" />
</div>